<%- include('../partials/header') -%>
    <header>
        <img src="/images/ICON.png" alt="coupon for you icon">
        <a href="/coupon4you/signout">Sign out</a>
        <p>Services</p>
    </header>
    <%- include('../partials/flashMessages') -%>

    <div class="center">
        <a href="/coupon4you/create" class="btn btn-primary admin_bouttens">Add Coupon</a>
        <a href="/coupon4you" class="btn btn-primary admin_bouttens">Browes</a>
        <a href="/coupon4you/addAdmin" class="btn btn-primary admin_bouttens">Add new Admin</a>

    </div>

              
    <%- include('../partials/footer') -%>